

@{
    ViewData["Title"] = "Index";
}
@model userBlogs.Web.ViewModels.UserIndexVM

<div class="headerBottom">

    <h2>The User List </h2>
</div>

<br />
<form action="/user/search" method="post">

    <input type="text" class="form-control" name="nameOrEmail" style="width:200px; margin-left:20px" placeholder="Search" />

</form>


<table id="userTable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Blogs</th>
            <th>View profile</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr id="demo">
                <td>@x.name</td>
                <td>@x.age</td>
                <td>@x.email</td>
                <td>@x.blogs</td>

                <td>

                    <a href="/User/Details?userId=@x.userId">View</a>

                </td>

            </tr>
        }
    </tbody>
</table>
<script>

    $(document).ready(function () {
        $('#userTable').DataTable(

            {

                "pageLength": 5,
                ordering: true,
                bLengthChange: false,
                iDisplayLength: 10,
                bFilter: false,
                pagingType: "numbers",
                bInfo: false,
                dom: "Bfrtip"
                

            },

        );
    });
</script>
